    body {
        background-color: rgb(49, 48, 48);
        background-image: url("bg.jpg");
        background-repeat: no-repeat, repeat;
        background-size: cover; /* Resize the background image to cover the entire container */
        height: 650px;
    } 
       
    form {
        border: rgb(220, 85, 85) thin solid;
        padding: 2rem;
    }
    
    form label {
        display: flex;
        align-items: right;
    }
    
    label input { 
        flex-grow: 2;
    }
    
    .navbar {
        display: flex;
    }


    h1 {
        background-color: rgb(94, 92, 92);
        color: rgb(248, 238, 238);
        font-family: 'calibri';
    }
      
    div {
        /* color: white; */
        margin-top: 32px;
    }

    h3 {
        color: black;
        text-decoration-line: overline underline;
        text-decoration-thickness: 1px;
        text-decoration-color: rgb(169, 170, 170);
        font-family: 'calibri light', 'Gill Sans MT', 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
        
    }

    